.cardsWrapper {
  width: 100%;
  padding: 0 5%;
  min-height: calc(100vh - 60px);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.leftCard {
  position: relative;
  animation: 1.3s fadeInDown cubic-bezier(0.175, 0.885, 0.32, 1.025) forwards;
  animation: fadeInDown 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.025) forwards;
  flex: 1;
}

.rightCard {
  position: relative;
  flex: 1;
  animation: fadeInUp 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.025) forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: 100vh;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    bottom: 100vh;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .cardsWrapper {
    width: 100%;
    padding: 0 5%;
    min-width: 90vw;
  }

  .leftCard {
    display: none;
  }
  .rightCard {
    animation: none;
  }
}
