.menu {
  height: 60px;
  width: 100%;
  background-color: #eceff1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 1px 3px #232323a2; 
}

.logo {
  height: 60px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  padding: 2px;
}

.menuOpen {
  width: 63.5%;
  height: 100vh;
  transition: 1s ease-in-out;
  margin-top: 60px;
  position: absolute;
  z-index: 1000;
  background: linear-gradient(to bottom, #232323 50%, white);
  top: 0;
  left: 0;
  opacity: 1;
  box-shadow: 1px 4px 5px #232323aa;
  padding: 0;
}

.menuClosed {
  left: -80vw;
  opacity: 1;
  transition: 1s ease-in-out;
  width: 80vw;
  height: 100vh;
  margin-top: 60px;
  top: 0;
  z-index: 1000;
  position: absolute;
}

.menuLinks {
  width: 66vw;
  list-style: none;
  margin: 0;
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.menuLinks > div {
  display: flex;
  height: 30px;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px #232323;
}

.menuLinks div li {
  flex: 1;
}

.menuLinks div div {
  flex: 0.1;
}
